/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 300px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

  }
  
  .login-form .MuiFormControl-root {
    margin: 8px;
    width: 80%;
  }
  
  .login-form .MuiButton-root {
    margin-top: 16px;
  }
  .h{
    font-family: "Raleway", sans-serif;
  }
  .l-body{
  
      background-repeat: no-repeat;
      background: linear-gradient(
        rgb(210, 129, 129), /* Start color with opacity */
        rgba(237, 237, 237, 0.589) /* End color with opacity */
      ), url('https://i.pinimg.com/originals/16/0f/a5/160fa5a493f2f9826b3b974601c018f8.jpg'); /* Background image */
      /* background-image: url('https://t4.ftcdn.net/jpg/02/27/07/31/360_F_227073112_z8KiYtgrymXZvQDxGqF3wOigpcrtbIFR.jpg'); */
      background-size: cover;
    
  }

  